:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.s1 { background-color: wheat; }
.s2 { background-color: darkolivegreen; }

.box1 {
  background-color: red;
  /* flex: 1; */
}

.box2 {
  background-color: blue;
  flex: auto;
}

.box3 {
  background-color: yellow;
  flex: auto;
}

@media (spanning: single-fold-vertical) {	
  .box2 { background-color: thistle; }

	:host {
    flex-direction: row;
    justify-content: space-between;
	}

	.box2 {
		flex: 0 1 env(fold-left)
  }
  
  .box3 {
    flex: 0 1 calc(100vw - env(fold-right));
  }
}

@media (spanning: single-fold-horizontal) {	
  .box2 { background-color: teal; }

	:host {
    /* flex-direction: row; */
    justify-content: space-between;
	}

	.box1, .box3 {
		flex-basis: env(fold-left)
	}
}